* {
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

body {
    font-family: 'Poppins';
}

div {
    display: block;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

input {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 2px solid #295684;
    border-radius: 5px;
    padding: 11px 19px;
    color: #718eab;
    margin-bottom: 30px;
}

::placeholder {
    color: #afafaf;
    font-size: 16px;
}

input:focus {
    // box-shadow: 0 20px 48px -30px rgb(153, 161, 170 / 25%);
    box-shadow: 0 20px 30px rgb(0 0 0 / 10%);
    outline: none;
}

select {
    width: 100%;
    height: 55px;
    background-color: transparent;
    border: 2px solid #295684;
    border-radius: 5px;
    padding: 11px 19px;
    color: #718eab;
}

option {
    font-size: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

@mixin button {
    padding: 15px 45px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #ff656a;
    display: inline-block;
    cursor: pointer;
    color: #fff;
}

@mixin border-btn {
    border: 2px solid #ff656a;
    padding: 18px 38px;
    color: #ff656a;
    display: inline-block;
    cursor: pointer;
}


.col-1 {
    width: 8.33%;
    padding: 0 15px;
}

.col-2 {
    width: 16.66%;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
    padding: 0 15px;
}

.col-5 {
    width: 41.66%;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-7 {
    width: 58.33%;
    padding: 0 15px;
}

.col-8 {
    width: 66.66%;
    padding: 0 15px;
}

.col-9 {
    width: 75%;
    padding: 0 15px;
}

.col-10 {
    width: 83.33%;
    padding: 0 15px;
}

.col-11 {
    width: 91.66%;
    padding: 0 15px;
}

.col-12 {
    width: 100%;
    padding: 0 15px;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

//  ********************* header ********************* 


header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;

    .header-top {
        padding: 13px 215px;
        background-color: #002d5b;

        .row {
            justify-content: space-between;

            .lo-em {
                ul {
                    padding: 0;
                    color: #fff;

                    li {
                        font-size: 14px;
                        padding-right: 50px;
                        cursor: pointer;

                        i {
                            padding-right: 10px;
                        }
                    }
                }
            }

            .header-icon {
                ul {
                    li {
                        padding: 0 15px;

                        a {
                            font-size: 14px;
                            color: #fff;

                            i {
                                transition: all .5s;
                                -moz-transition: all .5s;
                                -webkit-transition: all .5s;

                                &:hover {
                                    color: #ff656a;
                                    transform: rotateY(180deg);
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    .header-bottom {
        background-color: #fff;
        padding: 30px 215px;

        .row {
            justify-content: space-between;
            align-items: center;

            .navbar {
                align-items: center;
                display: flex;

                ul {
                    display: flex;

                    li {
                        font-size: 14px;
                        padding-right: 50px;
                        font-weight: 500;
                        color: #002e5b;

                        a {
                            cursor: pointer;
                            transition: all .5s;
                            -moz-transition: all .5s;
                            -webkit-transition: all .5s;

                            &:hover {
                                color: #ff656a;
                            }
                        }
                    }
                }

                .but {
                    padding: 20px 50px;
                    background-color: #ff656a;
                    z-index: 1;
                    overflow: hidden;
                    position: relative;
                    border-radius: 5px;
                    cursor: pointer;

                    &::before {
                        content: "";
                        left: 0%;
                        top: 0;
                        width: 110%;
                        height: 100%;
                        z-index: -1;
                        transition: transform 0.5s;
                        transition-timing-function: ease;
                        transform-origin: 0 0;
                        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                        transform: scaleX(0);
                        position: absolute;
                        background: #e6373d;
                    }

                    &:hover::before {
                        transform: scalex(1);
                    }

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

// ----------------------- WELCOME ----------------------

.welcome {
    position: relative;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;

    &:hover .arrow {
        opacity: 1;
    }

    &:hover .left {
        left: 5%;
    }

    &:hover .right {
        right: 5%;
    }

    .arrow {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 0;
        background: #ff656a;
        opacity: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;

        &:hover {
            background-color: #002d5b;
        }

        i {
            font-size: 20px;
            color: #fff;
        }
    }

    .left {
        position: absolute;
        top: 48%;
        left: 3%;
    }

    .right {
        position: absolute;
        top: 48%;
        right: 3%;
    }

    .container {
        .heading {
            position: absolute;
            top: 25%;
            left: 19%;

            p {
                font-size: 18px;
                color: #ff656a;
                margin-bottom: 10px;
            }

            h1 {
                font-size: 70px;
                font-weight: 900;
                line-height: 84px;
                color: #002d5b;
                margin-bottom: 60px;
            }

            .but {
                padding: 20px 50px;
                background-color: #ff656a;
                z-index: 1;
                overflow: hidden;
                position: relative;
                border-radius: 5px;
                display: inline-block;
                z-index: 1;
                cursor: pointer;

                &::before {
                    content: "";
                    left: 0%;
                    top: 0;
                    width: 110%;
                    height: 100%;
                    z-index: -1;
                    transition: transform 0.5s;
                    transition-timing-function: ease;
                    transform-origin: 0 0;
                    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                    transform: scaleX(0);
                    position: absolute;
                    background: #e6373d;
                    z-index: -1;
                }

                &:hover::before {
                    transform: scalex(1);
                }


                a {
                    color: #fff;
                    // @include button();
                    // padding: 20px 55px;
                }
            }
        }
    }
}

.profile {
    padding: 160px 0 130px;
    background-color: #f6f9fe;

    .container {
        .row {
            .col-4 {
                .profile-photo {
                    .profile-img {
                        overflow: hidden;

                        img {
                            width: 100%;
                            margin-bottom: 30px;
                            border-bottom: 7px solid transparent;
                            transition: all .5s;
                            -moz-transition: all .5s;
                            -webkit-transition: all .5s;

                            &:hover {
                                border-bottom: 7px solid #ff656a;
                                transform: scale(1.1);

                                -moz-transform: scale(1.1);
                                -webkit-transform: scale(1.1);
                            }
                        }
                    }

                    .profile-caption {
                        h4 {
                            font-size: 25px;
                            margin-bottom: 20px;

                            a {
                                color: #191d34;
                                transition: all .5s;
                                -moz-transition: all .5s;
                                -webkit-transition: all .5s;

                                &:hover {
                                    color: #ff656a;
                                }
                            }

                        }

                        p {
                            color: #506172;
                            font-weight: 400;
                            line-height: 30px;
                            max-width: 80%;
                        }
                    }
                }

                .profile-con {
                    border: 4px solid #ff656a;

                    .profile-text {
                        padding: 50px;

                        h2 {
                            font-size: 40px;
                            color: #191d34;
                            padding-bottom: 30px;
                            margin-bottom: 30px;
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                width: 100px;
                                height: 4px;
                                background: #ff656a;
                                left: 0;
                                bottom: 0;
                            }
                        }

                        p {
                            color: #506172;
                            margin-bottom: 30px;
                            line-height: 30px;
                            font-weight: 400;
                            max-width: 92%;
                        }

                        a {
                            color: #191d34;
                            transition: all .5s;
                            -moz-transition: all .5s;
                            -webkit-transition: all .5s;

                            &:hover {
                                color: #ff656a;
                            }
                        }
                    }
                }
            }
        }
    }
}


// trusted

.trusted {
    padding-top: 200px;

    .row {
        position: relative;

        .col-5 {
            .trusted-text {
                background: rgba(255, 255, 255, 0.8);
                padding: 57px 115px 50px 60px;
                margin-left: -152px;
                position: absolute;
                bottom: 0;
                left: 53%;

                h2 {
                    font-size: 40px;
                    max-width: 80%;
                    margin-bottom: 40px;
                    color: #191d34;
                }

                p {
                    margin-bottom: 50px;
                    max-width: 75%;
                    color: #506172;
                }


                .btn {
                    padding: 20px 50px;
                    background-color: #ff656a;
                    z-index: 1;
                    overflow: hidden;
                    position: relative;
                    border-radius: 5px;
                    display: inline-block;
                    cursor: pointer;
                    z-index: 1;

                    &::before {
                        content: "";
                        left: 0%;
                        top: 0;
                        width: 110%;
                        height: 100%;
                        z-index: -1;
                        transition: transform 0.5s;
                        transition-timing-function: ease;
                        transform-origin: 0 0;
                        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                        transform: scaleX(0);
                        position: absolute;
                        background: #e6373d;
                        z-index: -1;
                    }

                    &:hover::before {
                        transform: scalex(1);
                    }

                    a {
                        color: #fff;
                    }

                }

            }
        }
    }
}

// services

.services {
    padding-top: 200px;

    .services-tittle {
        text-align: center;
        margin-bottom: 90px;

        h2 {
            font-size: 56px;
            color: #191d34;
        }
    }

    .row {
        .col-4 {
            position: relative;

            &:hover {
                img {
                    bottom: 4%;
                    right: 0;
                }
            }

            img {
                position: absolute;
                bottom: 8%;
                right: 4%;
                z-index: -1;
                transition: all .5s;
                -moz-transition: all .5s;
                -webkit-transition: all .5s;
            }

            .services-text {
                padding: 80px 80px 65px;
                background-color: #fcfdff;
                margin-bottom: 30px;
                text-align: center;

                &:hover {
                    background-color: #f8fafe;

                    &:hover {
                        .services-icon {
                            i {
                                color: #ff656a;
                            }
                        }
                    }

                }

                .services-icon {
                    margin-bottom: 25px;

                    i {
                        font-size: 55px;
                        transition: all .5s;
                        -moz-transition: all .5s;
                        -webkit-transition: all .5s;
                    }
                }

                .services-caption {
                    text-align: center;

                    h4 {
                        font-size: 25px;
                        color: #191d34;
                        margin-bottom: 25px;
                    }

                    p {
                        color: #506172;
                    }
                }
            }
        }
    }

    .justify-content-center {
        text-align: center;

        .services-padding {
            padding-top: 50px;


            .btn {
                background: none;
                padding: 18px 38px;
                border: 2px solid #ff656a;
                background-color: transparent;
                text-transform: capitalize;
                position: relative;
                z-index: 1;
                display: inline-block;
                overflow: hidden;
                margin: 0;

                &::before {
                    content: "";
                    left: 0%;
                    top: 0;
                    width: 110%;
                    height: 100%;
                    border-radius: 5px;
                    z-index: -1;
                    transition: transform 0.5s;
                    transition-timing-function: ease;
                    transform-origin: 0 0;
                    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                    transform: scaleY(0);
                    position: absolute;
                    background-color: #e6373d;
                }

                &:hover::before {
                    transform: scaleY(1);
                }

                &:hover a {
                    color: #fff;
                }

                a {
                    color: tomato;
                }
            }
        }
    }
}

// completed

.completed {
    background-color: #f8fafe;
    padding: 200px 0;
    position: relative;

    .row {
        .col-6 {
            .completede-info {
                margin-top: 70px;
                padding-bottom: 28%;

                h3 {
                    font-size: 40px;
                    color: #191d34;
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 50px;
                    font-weight: 400;
                    max-width: 91%;
                    color: #506172
                }



                .btn {
                    background: none;
                    padding: 18px 55px;
                    border: 2px solid #ff656a;
                    color: #ff656a;
                    text-transform: capitalize;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    margin: 0;

                    &::before {
                        content: "";
                        left: 0%;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        transition: transform 0.5s;
                        transition-timing-function: ease;
                        transform-origin: 0 0;
                        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                        transform: scaleY(0);
                        position: absolute;
                        background-color: #e6373d;
                    }

                    &:hover::before {
                        transform: scaleY(1);
                    }

                    &:hover {
                        color: #fff;
                    }

                    a {
                        color: #ff656a;
                    }

                }
            }
        }

        .col-6 {
            .completede-img {
                position: absolute;
                right: 3%;

                .img-widht {
                    width: 403px;
                    margin-right: 15px;
                }
            }
        }
    }
}

// clifford

.clifford {
    padding-top: 130px;

    .text-align-center {
        text-align: center;
        position: relative;

        .clifford-icon {
            margin-bottom: 50px;

            img {
                border: 3px dashed transparent;
                border-radius: 50%
            }
        }

        .clifford-text {
            p {
                font-size: 25px;
                color: #191d34;
                padding: 0 290px;
                margin-bottom: 40px;
            }

            .clifford-ratting {
                margin-bottom: 20px;

                i {
                    color: #fbba42;
                }
            }

            .clifford-caption {
                .span {
                    color: #112e41;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                span {
                    color: #767676;
                    font-size: 16px;
                    text-transform: capitalize;
                }
            }
        }

        button {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: #96989a;
            font-size: 20px;
            transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transition: all .5s;
            -moz-transition: all .5s;
            -webkit-transition: all .5s;
        }

        .btn-left {
            position: absolute;
            left: 5%;
            bottom: 25%;
        }

        .btn-right {
            position: absolute;
            right: 5%;
            bottom: 25%;
        }

        &:hover {
            .btn-left {
                position: absolute;
                left: 7%;
                bottom: 25%;
                background-color: #ff656a;
                color: #fff;
            }

            .btn-right {
                position: absolute;
                right: 7%;
                bottom: 25%;
                background-color: #ff656a;
                color: #fff;
            }
        }

        &:hover img {
            box-shadow: 0 0 0 0 rgb(216 10 10 / 30%);
            animation: 1.3s cubic-bezier(0.8, 0, 0, 1) 0s normal none infinite running pulse;
            -webkit-animation: 1.3s cubic-bezier(0.8, 0, 0, 1) 0s normal none infinite running pulse;

            @keyframes pulse {
                100% {
                    box-shadow: 0 0 0 40px rgb(24 24 24 / 0%);
                }
            }
        }
    }
}

// Recent
.recent {
    padding: 180px 0 170px;

    .heading {
        text-align: center;

        h2 {
            font-size: 60px;
            color: #191d34;
            margin-bottom: 90px;
        }
    }

    .row {
        .col-4 {
            .recent-con {
                .recent-img {
                    overflow: hidden;

                    img {
                        width: 100%;
                        transition: all .5s;
                        -moz-transition: all .5s;
                        -webkit-transition: all .5s;
                    }
                }

                .recent-con {
                    padding: 20px 30px;

                    span {
                        font-size: 14px;
                        font-weight: 400;
                        color: #ff656a;
                    }

                    h4 {
                        font-size: 20px;
                        font-weight: 500;
                        color: #191d34;
                        cursor: pointer;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        transition: all .5s;
                        -moz-transition: all .5s;
                        -webkit-transition: all .5s;

                        &:hover {
                            color: #ff656a;
                        }
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: #aebccb;
                    }
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

// callback

.callback {
    padding: 100px 0px;
    background: #002d5b;
    color: #fff;

    .row {
        .col-4 {
            .content {
                h3 {
                    font-size: 40px;
                    margin-bottom: 30px;
                }

                p {
                    max-width: 90%;
                }
            }
        }

        .col-7 {
            .row {
                .col-4 {
                    button {
                        padding: 20px 50px;
                        background-color: #ff656a;
                        z-index: 1;
                        overflow: hidden;
                        position: relative;
                        border-radius: 5px;
                        width: 100%;

                        &::before {
                            content: "";
                            left: 0%;
                            top: 0;
                            width: 110%;
                            height: 100%;
                            z-index: -1;
                            transition: transform 0.5s;
                            transition-timing-function: ease;
                            transform-origin: 0 0;
                            transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                            transform: scaleX(0);
                            position: absolute;
                            background: #e6373d;
                        }

                        &:hover::before {
                            transform: scalex(1);
                        }

                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

// footer

footer {
    .footer-top {
        padding: 170px 0 50px;

        .row {
            .col-3 {
                .footer-icon {
                    .footer-logo {
                        margin-bottom: 40px;

                        img {
                            cursor: pointer;
                        }
                    }

                    p {
                        max-width: 60%;
                        color: #868c98;
                        margin-bottom: 50px;
                    }

                    .footer-social {
                        a {
                            color: #222222;
                            margin-right: 12px;
                            font-size: 19px;

                            i {
                                transition: all .5s;
                                -moz-transition: all .5s;
                                -webkit-transition: all .5s;

                                &:hover {
                                    color: #ff656a;
                                    box-shadow: 0 -3px 0 0 rgb(24 24 24 / 15%) inset, 0 3px 10px rgb(0 0 0 / 30%);
                                    transform: translateY(-3px);
                                    -moz-transform: translateY(-3px);
                                    -webkit-transform: translateY(-3px);
                                }
                            }
                        }
                    }
                }

                .footer-tittle {
                    h4 {
                        font-size: 20px;
                        color: #012f5f;
                        margin-bottom: 30px;
                        font-weight: 500;
                    }

                    ul {
                        li {
                            margin-bottom: 15px;

                            a {
                                color: #868c98;
                                font-weight: 300;
                                transition: all .5s;
                                -moz-transition: all .5s;
                                -webkit-transition: all .5s;

                                &:hover {
                                    padding-left: 5px;
                                    color: #ff656a;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-border {
        border-top: 1px solid #d3e5fd;
        padding: 40px 0px 23px;

        .text-center {
            text-align: center;

            p {
                color: #888888;

                i {
                    color: #ff656a;
                }

                a {
                    color: #ff656a;
                    cursor: pointer;
                }
            }
        }
    }
}